<div id="listaProducts">
    <ul>
        {{#each lista}}
            <li>{{title}}</li>
            <li>{{description}}</li>
        {{/each}}
    </ul>
    
</div>

<script src="/home.js"></script>
<script src="/home.router.js"></script>
