<section>
    <h1 class="text-3xl text-bold">LOGIN!</h1>

  <form id="formulario" class="bg-gray-400">
    <label for="email">Email: </label>
    <input id="email" name="email" type="email">
    <label for="password">Password: </label>
    <input id="password" name="password" type="text">
    <button id="botonLogin" type="submit">Enviar</button>
  </form>
</section>

<script src="/login.js"></script>
