<div id="listaProducts">
    <h3>Productos</h3>
    <ul>
           {{#if productos}}
        <ul>
            <li><p>Hay productos</p></li>
            {{#each productos}}
                <li>
                    <h2>{{this.title}}</h2> <!-- Renderiza el campo 'title' -->
                    <p>Price: ${{this.price}}</p> <!-- Renderiza el campo 'price' -->
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No products available.</p>
    {{/if}}
    </ul>
    
</div>

<script src="/products.js"></script>
<script src="/products.router.js"></script>
