<section>
  <h1 class="text-3xl text-bold">REGISTER!</h1>

  <form id="formulario" class="bg-gray-400">
    <label for="username">Username: </label>
    <input id="nombre" name="nombre" type="text">
    <label for="apellido">Apellido: </label>
    <input id="apellido" name="apellido" type="text">
    <label for="email">Email: </label>
    <input id="email" name="email" type="email">
    <label for="edad">Edad: </label>
    <input form="edad" id="edad" name="edad" type="number">
    <label for="password">Password: </label>
    <input id="password" name="password" type="text">
    <button id="botonRegister" type="submit">Enviar</button>
  </form>
</section>
<script src="/register.js"></script>